<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/assets/css/bible.css">
    <title>Bible</title>
</head>
<body>
    <section>
    <h1 class="versicle">Loading...</h1>
    <p class="text">Loading...</p>
    </section>

    <img src="../../public/assets/imgs/onpaper.png" width="70px" height="auto">
</body>

<script src="../../public/assets/js/APIs/bible_api.js"></script>
</html>