<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/assets/css/enem.css">
    <title>ENEM</title>
</head>
<body>

    <section class="question_enem">
        <h1 class="title_year">Loading...</h1>
        <h2 class="discipline"></h2>
        <p class="context"></p>
        <section class="imgs">

        </section>
        <p class="alternatives_context"></p>
        <p class="alternatives"></p>
        <button class="show_answer">Mostrar Resposta!</button>
    </section>
   
    <img class="tsuki"   src="../../public/assets/imgs/how.png" width="70px" height="auto" >
</body>


<script src="../../public/assets/js/APIs/enem_api.js"></script>
</html>